---
layout: default
popup-gallery: true
gallery-background: Dark Background
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: landscape-wide
    background_image: /images/the-sleep-co-3.jpg
    type: dog
  - column-size: col-4_sm-12
    aspect-ratio: landscape-wide
    background_image: /images/the-sleep-co-2.jpg
    type: cat
  - column-size: col-4_sm-12
    aspect-ratio: landscape-wide
    background_image: /images/the-sleep-co-4.jpg
    type: dog
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/the-sleep-co-3.jpg
    type: fish
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-4.jpg
    type: fish
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-2.jpg
    type: fish
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/the-sleep-co-4.jpg
    type: cat
---

<!------------------------------ THIS IS THE HEADER BANNER------------------ -->
<header class='padded-sm grid text-center tall-100 md-tall-80'>

    {% include header-nav.html %}

     <div class='col-12 md-header-text editable'>
         <h3 class='editable' data-aos="fade-up" data-aos-duration="1500"><span class='feature-text '>explore</span> our world</h3>
         <h1 class='font-weight-400 editable' data-aos-delay="100" data-aos="fade-down" data-aos-duration="1500">
             you just want to sleep
         </h1>
     </div>
 </header>

<!---------------------------------- This is for the pop up image gallery -------------------------->


{% if page.popup-gallery == true %}

 <section class='padded
 {% if page.gallery-background == "Dark Background" %} bg-dark {% endif %} '>  
    <h2 class=' text-center'>Pop Up Gallery</h2>
    <div class='gallery grid-spaceBetween-center' id='lightgallery'>

  {% for item in page.gallery %}    
 

      <a class='{{item.column-size}}' href='#'>
        <div class='bg-image {{item.aspect-ratio}}' style="background-image:url('{{item.background_image}}');"></div>
      </a>

 
  {% endfor %}

    </div>

</section>    

{% else %}

 <!------------------------------------ This is the standard Gallery Secction which does not pop up--------------------------------->

 <section class='padded'>  
  <h2 class='text-center'>Standard Gallery</h2> 
    <div class='gallery grid-spaceBetween-center'>

    {% for item in page.gallery %}    
        <div class='{{item.column-size}}'>
        <div class='bg-image {{item.aspect-ratio}}' style="background-image:url('{{item.background_image}}');"></div>
        </div>
       
    {% endfor %}

    </div>

  </section>    

{% endif %}
  
<!--------------------------------------- Button to view our gallery --------------------------------------------------->

<section class='padded'>  
  <div class='gallery grid-spaceBetween-center' id='lightgallery-2'>


  <a class='button' href='/images/the-sleep-co-4.jpg' title='this is the first picture'>
    See our gallery
  </a>
    <a href='/images/the-sleep-co-4.jpg' title='This is such a good bed'></a>
    <a href='/images/the-sleep-co-3.jpg' title='I really want this mattres'></a>
    <a href='/images/the-sleep-co-2.jpg' title='Another great image'></a>
    <a href='/images/the-sleep-co-1.jpg' title='This is soooo beautiful'></a>
    <a href='/images/the-sleep-co-4.jpg' title='Lets see if the % symbols work'></a>
    <a href='/images/the-sleep-co-3.jpg' title='last picture already'></a>

</div>

</section>    



<!------------------------------ THIS IS THE TESTIMONIAL SECTION------------------ -->
{% include testimonial.html %}
