---
layout: default
title: The Sleep Co
featured:
  - icon: fas fa-cloud
    description: Cake muffin chocolate candy canes lemon drops. Jujubes toffee cotton candy chupa chups carrot cake icing. Pie candy jelly muffin sesame snaps chocolate bar.
  - icon: fas fa-apple-alt
    description: Cotton candy dessert cotton candy sweet tiramisu cheesecake pudding topping. Sweet roll brownie muffin pie fruitcake dessert. Cookie oat cake dragée donut topping. Caramels jujubes lollipop chocolate.
  - icon: fas fa-fish
    description: Chupa chups tootsie roll cake cupcake pastry soufflé chocolate danish. Apple pie fruitcake cake. Marzipan croissant chocolate croissant sesame snaps cake chupa chups lollipop topping.
  - icon: fas fa-hamburger
    description: Cupcake chupa chups marshmallow jujubes wafer chocolate bar topping. Sugar plum jelly cake cake marzipan. Pastry dessert pudding sesame snaps danish sweet jujubes topping.
---



    <!------------------------------ THIS IS THE HEADER BANNER------------------ -->
    <header class='padded-sm grid text-center tall-100 md-tall-80'>

       {% include header-nav.html %}

        <div class='col-12 md-header-text editable' >
            <h3 class='editable' data-aos="fade-up"
            data-aos-duration="1500"><span class='feature-text '>sleep</span> like a baby</h3>
            <h1 class='font-weight-400 editable' data-aos-delay="100" data-aos="fade-down"
            data-aos-duration="1500">
                the mattress you love
            </h1>
        </div>
    </header>
   
    <!------------------------------ THIS IS THE GALLERY AND ABOUT SECTION------------------ -->
    <section class="grid">
        <div class="col-6_sm-12-middle padded" data-aos="fade-up-right" >
            <h2 class='editable'>build to last a <span class="feature-text">lifetime</span></h2>
            <p class='editable'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil ab ipsa natus autem excepturi quia architecto quisquam, dolore maxime iure harum laborum, praesentium temporibus magni commodi fugiat adipisci. Harum, dicta.</p>
            <p class='editable'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, harum porro corporis voluptatibus assumenda est nesciunt a voluptatum at consequuntur, ullam incidunt aspernatur facere. <a target="_blank" rel="noopener" href="https://www.google.com">Earum corporis aliquid fugit quam vel.</a></p>
        </div>
       
        <div class="editable bg-image bg-bed col-6_sm-12 hide-sm tall-70">
            <!-- background image bed -->
        </div>
        <div class="editable bg-image bg-dog col-6_sm-12 tall-70">
            <!-- background image pug sleeping -->
        </div>
        <div class="padded col-6_sm-12-middle" data-aos="fade-up-left">
            <h2 class='editable'>so <span class="feature-text">soft</span> you'll melt</h2>
            <p class='editable'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil ab ipsa natus autem excepturi quia architecto quisquam, dolore maxime iure harum laborum, praesentium temporibus magni commodi fugiat adipisci. Harum, dicta.</p>
        </div>

    </section>

<!------------------------------ THIS IS THE FEATURES SECTION------------------ -->
<section class='padded grid-center bg-dark'>
    <div class='padded-sm col-12 text-center'>
        <h2 class='editable'><span class='feature-text'>features</span> you will love</h2>
    </div>

{% for item in page:featured %}

    <div class='padded-sm col-3_sm-6'>
        <i class="{{item.icon}}"></i>
        <p>{{item.description}}</p>
    </div>
{% endfor %}

</section>

<!------------------------------ THIS IS THE BANNER SECTION------------------ -->

<section class='padded text-center bg-image bg-pillow tall-70 grid'> 
    <div class='col-12-middle editable '>
        <h3><span class="small-text font-weight-400">never underestimate the power of </span><br /><span class="big-text ">a good night <span class="white-text">sleep</span></span></h3>
    </div>
</section>

<!------------------------------ THIS IS THE QUOTE SECTION------------------ -->
<section class="grid padded-lg">
    <div class='col-1 text-right'>
        <span class='quotes'>&ldquo;</span>
    </div>
    <div class='col-10-middle text-center'>
        <p class='medium-text font-weight-200 editable' data-aos="flip-up">
            I've never experienced sleep like this. OMG I really love this mattress I want to buy one for every member of my family
        </p>
        <p class='subtitle editable'>
            - A very happy customer
        </p>
    </div>
    <div class='col-1 text-left'> 
        <span class='quotes'>&rdquo;
        </span>
    </div>
</section>

