<section class="grid padded-lg">
    
    <div class='col-1 text-right'>
        <span class='quotes'>&ldquo;</span>
    </div>
   
    <div class='col-10-middle text-center'>
        <p class='medium-text font-weight-200 ' data-aos="flip-up">
            I've never experienced sleep like this. OMG I really love this mattress I want to buy one for every member of my family
        </p>
        <p class='subtitle '>
           A happy customer
        </p>
    </div>

    <div class='col-1 text-left'> 
        <span class='quotes'>&rdquo;
        </span>
    </div>
    
</section>
